/*** Alternate viewing ***/
@media 
only screen and (-webkit-min-device-pixel-ratio: 1.1),
only screen and (   min--moz-device-pixel-ratio: 1.1),
only screen and (     -o-min-device-pixel-ratio: 10/9),
only screen and (        min-device-pixel-ratio: 1.1),
only screen and (              min-resolution: 2dppx), {
	#column1, #column2, #column3 
	{
		margin: -0.5em 0.5em;	
	}
	#column2
	{
		order: 1;
	}
	#column1
	{
		order: 2;
	}
	#column3
	{
		order: 3;
	}
	#main
	{
		width: auto;
		margin: 0.5em 0.5em 0 0.5em;
	}
}