/***Viewport settings declaration***/
@viewport 
{
	width: device-width;
	maximum-scale: 1.5;
	initial-scale: 1;
}
/*Shitty MS*/
@-ms-viewport
{
 	width: device-width;
}

/*html tag styles*/
/*h2 tag is intended for high level title*/
h2 {
	padding: 1% 1% 1% 2%;
	font-size: 1.4em;
	color: #0771A5;
	font-family: 'Lobster', cursive;
}
/*h3 tag is intended for titles under a major title (ie. post titles) */
h3 {
	padding: 0 2%;
	font-size: 1.1em;
}
iframe 
{
	margin: 0 auto;
	display: block;
	width: 100%;
	height: auto;
}
.aspect-ratio
{
  position: relative;
  width: 100%;
  height: 0;
  /*Purely only compatible with 16:9 Ratio content (Almost all YouTube clips), this is not a problem; we force viewers to use 16:9*/
  padding-bottom: 56.25%;
}
.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}
/***End of Viewport settings declaration***/
/***Main structural elements***/
#header
{
	background-color: blue;
}
#maincontent
{
	background-color: white;
}
#footer
{
	background-color: red;
}
/***End Main structural elements***/
/***Tagline***/
#tagline
{
  float: left;
  font-family: "Montserrat";
  font-size: 150%;
  line-height: 0.9;
}
#taglineleft
{
  text-align: left ;
  font-size: 1em;
}
#taglinebig
{
  font-size: 2em;
  color: #0572a6;
}
#taglineright
{
  text-align: right;
  font-size: 1em;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/***End Tagline***/